.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.error .head {
  color: var(--rebecca-purple);
  font-size: 6rem;
  margin-bottom: 0;
}

.error .message {
  color: var(--dark-purple);
}

.error img {
  width: 10vw;
  animation: rotate 5s linear 0s infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
    scale: 1;
  }
  50% {
    scale: 1.2;
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
    scale: 1;
  }
}
