:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;

  /* Color Pallete */
  --pale-purple: #e5d4edff;
  --medium-slate-blue: #6d72c3ff;
  --rebecca-purple: #5941a9ff;
  --davys-gray: #514f59ff;
  --dark-purple: #1d1128ff;
}

body {
  background-color: var(--pale-purple);
}
